@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
html{
scroll-behavior: smooth;
}

header{
    width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: #ffffff;
   z-index: 5;
   border-bottom:3px solid #f0eeee ;
}
.navbar{
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}
.nav-left ,.nav-menu, .nav-right{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* .nav-menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 30px;
} */

.cart-icon {
  position: relative;
  font-size: 22px;
  color: #5e1f12;
  margin-left: 20px;
  text-decoration: none;
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -12px;
  background: red;
  color: black;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

a{
    text-decoration: none;
    color: #5e1f12;
}
.nav-left .nav-logo .logo{
 font-size:1.5rem ;
 font-weight: 800;
 margin-right: 20px;
}
.nav-left .nav-menu{
    list-style: none;
}
.nav-left .nav-menu li a{
   padding:8px 9px ;
   font-size: 1rem;
    transition: 0.5s linear;
}
.nav-left .nav-menu li a:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 700;
}
.nav-right p{
    font-size: 1rem;
}
.nav-right .btn, .submit{
    background-color: #5e1f12;
    color: #ffffff
    ;
    padding: 8px 22px;
    border-radius: 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.5s linear;
}
.nav-right .btn:hover , .submit:hover{
    background-color: transparent;
    color: #5e1f12
    ;
    border: 1px solid #5e1f12;
   
}







.hero-section{
    min-height: 70vh;
    background: #fff8e1;
}

.hero-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 90px;
}
.section-content{
   max-width: 1300px;
   margin: 0 auto;
   padding: 0 20px;
}
.hero-section .section-content .hero-detail h1{
  font-size : 3rem;
  max-width: 70%;
  margin-bottom: 20px;
}
.hero-section .section-content .hero-detail p{
  font-size : 1.1rem;
  max-width: 70%;
  margin-bottom: 40px;
}
.hero-section .section-content .hero-detail .order-now{
    padding: 10px 20px;
    border: 1px solid #5e1f12;
    background: transparent;
    color: #5e1f12;
    cursor: pointer;
    transition: 0.3s ease;

}
.hero-section .section-content .hero-detail .order-now:hover{
   
    border: 1px solid transparent;
    background:#5e1f12;
    color: #ffffff;
    
}









.about-us{
    width: 100%;
    background-color: white;
    padding: 120px 0px;
}
.about-us .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.about-us .section-content .about-image img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;

}
.about-us.about-detail{
    max-width: 50%;
}
.section-title{
    color: #5e1f12;
    text-align: center;
    padding:60px 0px 100px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
/* about us ke niche underline */
.section-title::after{
    content: '';
    display: block;
    background: #5e1f12;
    height: 5px;
    width: 100px;
    border-radius: 30px;
    margin: 10px auto 0;
}
.about-detail .sextion-title{
    padding: 0;
}
.about-detail p{
font-family: 1.1rem;
line-height: 30px;
text-align: center;
margin: 50px 0px 30px;
}









.menu-section{
    background-color: #5e1f12;
    color : white;
    padding: 50px 0px 100px;
}
.menu-section .menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.menu-section .menu-list .menu-item {
width: 30%;
text-align: center;
display: flex;
flex-direction: column;
height: 400px;
}

.menu-section .menu-list .menu-item img{
width: 100%;
height: 80%;
object-fit: cover;
border-radius: 8px;
margin-bottom: 10px;

}
.menu-section .section-title::after{
    background-color: #ffffff;
   
}

.menu-section .menu-list .menu-item .add-cart{
    width: 100%;
    border-radius: 10px;
}








.theme-section{
    background-color: #ffffff;
}
.theme-section .section-title::after{
   background-color: #5e1f12;
}
.theme-section .menu-list{
    gap: 10px;
}
.theme-section .menu-list .menu-item img{
    cursor: zoom-in;
    transition: 1s  linear;
    border-radius: 8px;
    height: 100%;
}
.theme-section .menu-list .menu-item img:hover{
    transform: scale(1.1);
}

.theme-section .menu-list .menu-item {
    overflow: hidden;
    border-radius: 8px;
    height: 300px;
}







.contact-us{
    background-color: #e5dccf;
    padding-bottom: 100px;
}
.contact-us .section-content{
    display: flex;
    margin: 0 auto;
    /* align-items: center;  */
    justify-content: space-between;
    gap: 20px;
}
.contact-form {
max-width: 50%;

}
.contact-form form {
width: 100%;


}
.contact-form form input, textarea{
    width:100% ;
    height: 50px;
    padding: 0 12px;
    border: 1px solid #e4e2e2;
    outline: none;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 1rem;
}
textarea{
    height: 100px;
    resize: vertical;
}
.contact-us .contact details{
   max-width: 40%; 
    display: flex;
    flex-direction: column;
}
.contact-us .contact details div{
    display: flex;
   align-items: center;
   gap: 20px;
   margin: 10px 0px;
}







.footer{
    background-color: #5e1f12;
    color: #ffffff;
    
padding: 20px 30px ;
}
.footer .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.footer .section-content .footer-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
 